*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

header{
    background-color:maroon;
    padding:20px;
    text-align:center;
}

h2{
    color:white;
    margin-bottom:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    padding:8px;
}

nav a:hover{
    background-color:white;
    color:maroon;
    border-radius:5px;
}